/* ------------RESET-------------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
/* -----------------------HEADER---------------------  */
header{
    height: 300px;
    background-image: url(../imgs/banniere_roadsters.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

/* -----------------------NAVBAR--------------------- */
nav{
    height: 125px;
    background-image: url(../imgs/navBackground.jpg);
}
ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    background-color: rgb(241, 238, 233);
    margin: 20px;
    border: 3px solid rgb(255, 0, 0);
}
nav a:hover{
    font-size: 30px;
}

ul li a {
    text-transform: uppercase;
    display: block;
    padding: 27px;
}
.redBar{
    height: 15px;
    background-color: red;
}

/* ------------------MAIN---------------------- */
main{
    height: 900px;
    background-image: url(../imgs/mainBackground.jpg);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.infoBulle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    text-align: center;
    width: 50%;
    background-color: rgba(241, 238, 233, 0.711);
    border: 4px solid rgb(173, 2, 2);
    border-radius: 15px;
}
.mainTitle{
    margin-bottom: 20px;
}

/* ---------------------ACCORDEON------------- */
.accordeon{
    display: flex;
    justify-content: space-around;
}
.infoRoadster{
    background-color: rgba(207, 4, 4, 0.495);
    margin: 30px;
    margin-right: 150px;
    margin-top: 110px;
    padding: 15px;
    width: 300px;
    height: 500px;
    border: 4px solid rgba(241, 238, 233, 0.711);
    border-radius: 20px;
    color: white;
}
.ia-container{
    width: 900px;
    margin-left: 400px;
    margin: 55px auto;
    overflow: hidden;
    border: 4px solid rgb(173, 2, 2);
    border-radius: 7px;
}
.ia-container figure{
    position: absolute;
    top: 0;
    left: 50px;
    width: 900px;
    margin: 0;
    box-shadow: 0 0 0 1px rgba(255,255,255, 0.6);
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3 ease-in-out;
}
.ia-container > figure{
    position: relative;
    left: 0 !important;
}
.ia-container img{
    display: block;
    width: 100%;
}
.ia-container input{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    border: 0;
    padding: 0;
    opacity: 0;
    z-index: 100;
    -webkit-appearance: none;
    appearance: none;
}
.ia-container input:checked{
    width: 5px;
    left: auto;
    right: 0px;
}
.ia-container input:checked ~ figure{
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    left: 700px;
}
.ia-container figcaption{
    width: 100%;
    height: 100%;
    background: rgba(87, 73, 81, 0.1);
    position: absolute;
    top: 0;
    -webkit-transition:all 0.2 linear;
    transition:all 0.2 linear;
}
.ia-container figcaption span{
    position: absolute;
    top: 40%;
    right: 20px;
    left: 20px;
    text-align: center;
    background: rgba(228, 1, 1, 0.9);
    line-height: 20px;
    font-size: 18px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    padding: 15px;
    color: #fff;
}
.ia-container input:checked + figcaption span{
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    opacity: 1;
    top: 65%;
}

/* ----------------------FOOTER--------------------------- */
footer{
    height: 100px;
    background-color: rgb(21, 19, 60);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}